
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn:focus {
  box-shadow: 0 0 0 2px #e8eff9; }

.btn-primary, .manage-users-tab.selected,
.btn-primary:visited,
.btn-primary i,
.manage-users-tab.selected i {
  background-color: #467fcf !important;
  border-color: #467fcf !important;
  color: white !important; }

.btn-primary:active, .manage-users-tab.selected:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:hover,
.manage-users-tab.selected:hover,
.btn-primary:hover i,
.manage-users-tab.selected:hover i {
  background-color: #316cbe !important;
  border-color: #316cbe !important;
  color: white !important; }

.btn-primary:focus, .manage-users-tab.selected:focus {
  background-color: #316cbe !important;
  border-color: #316cbe !important;
  color: white !important;
  box-shadow: 0 0 0 2px #e8eff9 !important; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #467fcf !important;
  border-color: #467fcf !important;
  color: white !important; }

a {
  color: #467fcf !important; }

.oauth-signin {
  color: white !important; }
  .oauth-signin:hover * {
    color: white !important; }

.btn-outline-primary {
  border-color: #467fcf !important;
  color: #467fcf !important; }
  .btn-outline-primary:hover {
    background: #467fcf !important;
    color: white !important; }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 2px #e8eff9 !important; }

.header .avatar {
  background-color: #467fcf !important;
  color: white !important; }

.header a:hover:not(.btn) {
  color: #467fcf !important; }

.header .header-nav {
  border-color: #467fcf !important; }

.header .header-nav.active {
  color: #467fcf !important; }

.dropdown-item {
  color: #6e7687 !important; }
  .dropdown-item:hover {
    color: #467fcf !important;
    background-color: #e8eff9 !important; }
    .dropdown-item:hover.sort-disabled {
      background: #e6e6e6 !important;
      color: #6e7687 !important;
      opacity: 0.9; }
  .dropdown-item:active, .dropdown-item.active {
    color: #467fcf !important;
    background-color: #e8eff9 !important; }

input:focus, select:focus {
  box-shadow: 0 0 5px #467fcf !important;
  border-color: #467fcf !important; }

.list-group-item.active {
  background-color: #e8eff9 !important; }
  .list-group-item.active, .list-group-item.active .list-group-item.active * {
    color: #467fcf !important; }
  .list-group-item.active.sort-disabled {
    background: #e6e6e6 !important;
    color: #6e7687 !important;
    opacity: 0.9 !important; }

.text-primary {
  color: #467fcf !important; }

.bg-primary {
  background-color: #467fcf !important;
  color: white !important; }

.btn-danger {
  color: white !important; }

#clear-search:hover {
  color: #316cbe !important; }

.pagination .page-item.active a {
  color: white !important;
  background-color: #467fcf !important; }

.pagination .page-item a {
  color: #467fcf !important;
  border-color: #467fcf !important;
  white-space: nowrap; }

.pagination .page-item a:hover {
  background-color: #e8eff9 !important; }

.pagination .page-item a:focus {
  box-shadow: 0 0 3px #467fcf !important; }

.primary-regular {
  background-color: #467fcf !important;
  border-color: #467fcf !important;
  color: white !important; }

.primary-lighten {
  background-color: #e8eff9 !important;
  border-color: #e8eff9 !important;
  color: #467fcf !important; }

.primary-darken {
  background-color: #316cbe !important;
  border-color: #316cbe !important;
  color: white !important; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background-color: #467fcf !important;
  border-color: #316cbe !important; }

.custom-switch-input:focus ~ .custom-switch-indicator {
  box-shadow: 0 0 0 2px #e8eff9;
  border-color: #316cbe !important; }

.custom-control-label::before {
  border-color: #316cbe !important; }

.room-block.current {
  box-shadow: 0 0 10px #e8eff9; }